/node_modules
/vendor
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/app/public/*
!/storage/app/public/.gitkeep
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Explicitly ensure these folders are included
!/public/assets/images/
!/public/assets/art-classes/
